Youtube

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('python_courses_coursera.csv')
df.head()

,Unnamed: 0,university,course,type,review,votes,students,difficulty
0,0,University of Michigan,Python for Everybody,SPECIALIZATION,4.8,225236.0,2400000.0,Beginner
1,1,Google,Google IT Automation with Python,PROFESSIONAL CERTIFICATE,4.7,21768.0,410000.0,Beginner
2,2,University of Michigan,Python 3 Programming,SPECIALIZATION,4.7,15904.0,290000.0,Beginner
3,3,University of Michigan,Applied Data Science with Python,SPECIALIZATION,4.5,29358.0,730000.0,Intermediate
4,4,Università di Napoli Federico II,Data Science con Python e R,SPECIALIZATION,NaN,NaN,NaN,Intermediate